name: React CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repo
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # 3. Install dependencies
      - name: Install Dependencies
        run: npm install

      # 4. Compile & Build React app
      - name: Build React App
        run: CI=false npm run build

      # 5. Static Code Analysis (SonarQube example)
      # - name: SonarQube Scan
      #   uses: SonarSource/sonarqube-scan-action@v5
      #   with:
      #     args: ""
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      # # 6. Security Scan (npm audit or Snyk)
      # - name: Run npm audit
      #   run: npm audit --audit-level=moderate || echo "npm audit failed or not supported, skipping."

      # 7. Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 8. Log in to DockerHub 
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 9. Set image tags
      - name: Set image variables
        id: vars
        run: |
          echo "image=${{ secrets.DOCKER_USERNAME }}/react-app" >> $GITHUB_OUTPUT
          echo "build_tag=${GITHUB_RUN_NUMBER}" >> $GITHUB_OUTPUT
      
      # Build and push Docker image
      - name: Build and Push Docker Image
        run: |
          IMAGE=${{ steps.vars.outputs.image }}
          BUILD_TAG=${{ steps.vars.outputs.build_tag }}
      
          docker build -t $IMAGE:$BUILD_TAG .
          docker push $IMAGE:$BUILD_TAG
          # docker push $IMAGE:latest

      # # 12. Docker Image Scan (Trivy)
      # - name: Scan Docker Image with Trivy
      #   uses: aquasecurity/trivy-action@0.20.0
      #   with:
      #     image-ref: ${{ secrets.DOCKER_USERNAME }}/react-app:latest
